 .image {
    width: 300px;
    height: 200px; 
    /* background: linear-gradient(red, blue); */
    /* background: linear-gradient(to right, red, blue); */
    /* background: linear-gradient(to bottom right, red, yellow, green); */
    /* background: radial-gradient( red, blue); */
    /* background: radial-gradient(ellipse, red, yellow, green); */
    /* background: radial-gradient(circle at top left, red, blue); */
    /* background: conic-gradient(from 45deg, red, yellow, green, blue); */
    /* background: conic-gradient(from 0deg at 50% 50%, red, yellow, blue); */
    /* background: linear-gradient(to right, rgba(255, 0, 0, 0.5), transparent); */
    /* background: repeating-linear-gradient(to right, red, yellow 10%, green 20%); */
    margin: 48px auto;
    border: 5px saddlebrown solid;
    background-repeat: no-repeat;
    background-size: 20% 30%; 
    background-position: center; 
    /* background-size: cover; */
     background-image: url(https://images.unsplash.com/photo-1736168432643-2d5882e17aeb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
   } 




 :root{
    --bg-color-red: #752f23;
    --bg-color-yellow: #d7dd33;
    --font-Size-bada: 36px;
} 

article , h2 , h3{
    /* background-color: var(--bg-color-yellow) ; */
    /* background-color: red; */
    font-size: var(--font-Size-bada);
} 