/* #one{
    color: blue;
} */
/* .two{
    background-color: red;
} */


/* a[href='http://google.com']{
    background-color: red;
}

a[href^='https']{
    background-color: black;
} */
a[href$='com']{
    background-color: black;
}

a[href*='kart']{
    background-color: black;
} 
div   p{
    background-color: red;
}
/* .one{
    background-color: ;
} */
